.playwrite-gb-s-land {
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.background{
    background-color: rgb(245, 174, 9);
    display: flex;
    justify-content: center;
    
}

#search{
    margin-top: 10%;
    border: 10px solid rgb(225, 228, 222);
    width: 20rem;
    height: 3rem;
    border-radius: 3px;
    font-size: 2rem;
    text-align: center;
    outline: none;
    
}

